In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv(r'E:\MachineLearning\kaggle\titanic_2020\train.csv')
test = pd.read_csv(r'E:\MachineLearning\kaggle\titanic_2020\test.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
print(train.shape, test.shape)
train.head()

(891, 12) (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data = pd.concat([train, test], axis = 0)

In [6]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
data.drop(['PassengerId','Name'], axis = 1, inplace = True)

In [8]:
data

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0.0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1.0,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1.0,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1.0,1,female,35.0,1,0,113803,53.1000,C123,S
4,0.0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,NaN,3,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,NaN,1,female,39.0,0,0,PC 17758,108.9000,C105,C
415,NaN,3,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,NaN,3,male,NaN,0,0,359309,8.0500,NaN,S
417,NaN,3,male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
data.Ticket.unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376', '330911', '363272', '240276',
       '315154', '7538', '330972', '2657', '349220', '694', '21228',
       '24065', '233734', '2692', 'STON/O2. 3101270', '2696', 'C 17368',
       'PC 17598', '2698', '113054', 'C.A. 31029', '13236', '2682',
       '342712', '315087', '345768', '113778', 'SOTON/O.Q. 3101263',
       '237249', 'STON/O 2. 3101291', 'PC 17594', '370374', '13695',
       'SC/PARIS 2168', 'SC/A.3 2861', '349230', '348122', '349232',
       '237216', '347090', '334914', 'F.C.C. 13534', '330963', '2543',
       '382653', '349211', '3101297', 'PC 17562', '359306', '11770',
       '248744', '368702', '19924', '349238', '240261', '2660', '330844',
       'A/4 31416', '364856', '347072', '345498', '376563', '13905',
       '350033', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '365235', '347070', '330920', '383162', '3410', '248734', '237734',
       '330968', 'PC 17531', '329944', '2681', '13050', '367227',
       '392095', '368783', '350045', '211535', '342441',
       'STON/OQ. 369943', '113780', '2621', '349226', '350409', '2656',
       '248659', 'SOTON/OQ 392083', '17475', 'SC/A4 23568', '113791',
       '349255', '3701', '350405', 'S.O./P.P. 752', '347469', '110489',
       'SOTON/O.Q. 3101315', '335432', '220844', '343271', '237393',
       'PC 17591', '17770', '7548', 'S.O./P.P. 251', '2670', '2673',
       '233478', '7935', '239059', 'S.O./P.P. 2', 'A/4 48873', '28221',
       '111163', '235509', '347465', '347066', 'C.A. 31030', '65305',
       'C.A. 34050', 'F.C. 12998', '9232', '28034', 'PC 17613', '349250',
       'SOTON/O.Q. 3101308', '347091', '113038', '330924', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '350054', '370368', '242963', '113795', '3101266', '330971',
       '350416', '2679', '250650', '112377', '3470', 'SOTON/O2 3101284',
       '13508', '7266', '345775', 'C.A. 42795', 'AQ/4 3130', '363611',
       '28404', '345501', '350410', 'C.A. 34644', '349235', '112051',
       'C.A. 49867', 'A. 2. 39186', '315095', '368573', '2676',
       'SC 14888', 'CA 31352', 'W./C. 14260', '315085', '364859',
       'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478', 'PC 17607',
       '382650', '2652', '345771', '349202', '113801', '347467', '347079',
       '237735', '315092', '383123', '112901', '315091', '2658',
       'LP 1588', '368364', 'AQ/3. 30631', '28004', '350408', '347075',
       '2654', '244368', '113790', 'SOTON/O.Q. 3101309', '236854',
       'PC 17580', '2684', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', '348125', '237670', '2688', '248726',
       'F.C.C. 13540', '113044', '1222', '368402', '315083', '112378',
       'SC/PARIS 2147', '28133', '248746', '315152', '29107', '680',
       '366713', '330910', 'SC/PARIS 2159', '349911', '244346', '364858',
       'C.A. 30769', '371109', '347065', '21332', '17765',
       'SC/PARIS 2166', '28666', '334915', '365237', '347086',
       'A.5. 3236', 'SOTON/O.Q. 3101262', '359309'], dtype=object)

In [10]:
data.drop(['Ticket'], axis = 1, inplace = True)

In [11]:
data

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0         0.0       3    male  22.0      1      0    7.2500   NaN        S
1         1.0       1  female  38.0      1      0   71.2833   C85        C
2         1.0       3  female  26.0      0      0    7.9250   NaN        S
3         1.0       1  female  35.0      1      0   53.1000  C123        S
4         0.0       3    male  35.0      0      0    8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
413       NaN       3    male   NaN      0      0    8.0500   NaN        S
414       NaN       1  female  39.0      0      0  108.9000  C105        C
415       NaN       3    male  38.5      0      0    7.2500   NaN        S
416       NaN       3    male   NaN      0      0    8.0500   NaN        S
417       NaN       3    male   NaN      1      1   22.3583   NaN        C

[1309 rows x 9 columns]

In [12]:
data['Survived'].replace(np.nan, 0, inplace = True)

In [13]:
data.Survived = data.Survived.astype('int')

In [14]:
data

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  22.0      1      0    7.2500   NaN        S
1           1       1  female  38.0      1      0   71.2833   C85        C
2           1       3  female  26.0      0      0    7.9250   NaN        S
3           1       1  female  35.0      1      0   53.1000  C123        S
4           0       3    male  35.0      0      0    8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
413         0       3    male   NaN      0      0    8.0500   NaN        S
414         0       1  female  39.0      0      0  108.9000  C105        C
415         0       3    male  38.5      0      0    7.2500   NaN        S
416         0       3    male   NaN      0      0    8.0500   NaN        S
417         0       3    male   NaN      1      1   22.3583   NaN        C

[1309 rows x 9 columns]

In [15]:
for feature in data.columns:
    print(f'{feature} = {data[feature].sort_values().unique()}')

Survived = [0 1]
Pclass = [1 2 3]
Sex = ['female' 'male']
Age = [ 0.17  0.33  0.42  0.67  0.75  0.83  0.92  1.    2.    3.    4.    5.
  6.    7.    8.    9.   10.   11.   11.5  12.   13.   14.   14.5  15.
 16.   17.   18.   18.5  19.   20.   20.5  21.   22.   22.5  23.   23.5
 24.   24.5  25.   26.   26.5  27.   28.   28.5  29.   30.   30.5  31.
 32.   32.5  33.   34.   34.5  35.   36.   36.5  37.   38.   38.5  39.
 40.   40.5  41.   42.   43.   44.   45.   45.5  46.   47.   48.   49.
 50.   51.   52.   53.   54.   55.   55.5  56.   57.   58.   59.   60.
 60.5  61.   62.   63.   64.   65.   66.   67.   70.   70.5  71.   74.
 76.   80.     nan]
SibSp = [0 1 2 3 4 5 8]
Parch = [0 1 2 3 4 5 6 9]
Fare = [  0.       3.1708   4.0125   5.       6.2375   6.4375   6.45     6.4958
   6.75     6.8583   6.95     6.975    7.       7.0458   7.05     7.0542
   7.125    7.1417   7.225    7.2292   7.25     7.2833   7.3125   7.4958
   7.5208   7.55     7.575    7.5792   7.6292   7.65     7.7208   7.725
   7.7292   7.7333   7.7375   7.7417   7.75     7.775    7.7792   7.7875
   7.7958   7.8      7.8208   7.8292   7.85     7.8542   7.875    7.8792
   7.8875   7.8958   7.925    8.0292   8.05     8.1125   8.1375   8.1583
   8.3      8.3625   8.4042   8.4333   8.4583   8.5167   8.6542   8.6625
   8.6833   8.7125   8.85     8.9625   9.       9.2167   9.225    9.325
   9.35     9.475    9.4833   9.5      9.5875   9.6875   9.825    9.8375
   9.8417   9.8458  10.1708  10.4625  10.5     10.5167  10.7083  11.1333
  11.2417  11.5     12.      12.1833  12.275   12.2875  12.35    12.475
  12.525   12.65    12.7375  12.875   13.      13.4167  13.5     13.775
  13.7917  13.8583  13.8625  13.9     14.      14.1083  14.4     14.4542
  14.4583  14.5     15.      15.0333  15.0458  15.05    15.1     15.2458
  15.5     15.55    15.5792  15.7417  15.75    15.85    15.9     16.
  16.1     16.7     17.4     17.8     18.      18.75    18.7875  19.2583
  19.5     19.9667  20.2125  20.25    20.525   20.575   21.      21.075
  21.6792  22.025   22.3583  22.525   23.      23.25    23.45    24.
  24.15    25.4667  25.5875  25.7     25.7417  25.925   25.9292  26.
  26.25    26.2833  26.2875  26.3875  26.55    27.      27.4458  27.7208
  27.75    27.9     28.5     28.5375  28.7125  29.      29.125   29.7
  30.      30.0708  30.5     30.6958  31.      31.275   31.3875  31.5
  31.6792  31.6833  32.3208  32.5     33.      33.5     34.0208  34.375
  34.6542  35.      35.5     36.75    37.0042  38.5     39.      39.4
  39.6     39.6875  40.125   41.5792  42.4     42.5     45.5     46.9
  47.1     49.5     49.5042  50.      50.4958  51.4792  51.8625  52.
  52.5542  53.1     55.      55.4417  55.9     56.4958  56.9292  57.
  57.75    57.9792  59.4     60.      61.175   61.3792  61.9792  63.3583
  65.      66.6     69.3     69.55    71.      71.2833  73.5     75.2417
  75.25    76.2917  76.7292  77.2875  77.9583  78.2667  78.85    79.2
  79.65    80.      81.8583  82.1708  82.2667  83.1583  83.475   86.5
  89.1042  90.      91.0792  93.5    106.425  108.9    110.8833 113.275
 120.     133.65   134.5    135.6333 136.7792 146.5208 151.55   153.4625
 164.8667 211.3375 211.5    221.7792 227.525  247.5208 262.375  263.
 512.3292      nan]
Cabin = ['A10' 'A11' 'A14' 'A16' 'A18' 'A19' 'A20' 'A21' 'A23' 'A24' 'A26' 'A29'
 'A31' 'A32' 'A34' 'A36' 'A5' 'A6' 'A7' 'A9' 'B10' 'B101' 'B102' 'B11'
 'B18' 'B19' 'B20' 'B22' 'B24' 'B26' 'B28' 'B3' 'B30' 'B35' 'B36' 'B37'
 'B38' 'B39' 'B4' 'B41' 'B42' 'B45' 'B49' 'B5' 'B50' 'B51 B53 B55'
 'B52 B54 B56' 'B57 B59 B63 B66' 'B58 B60' 'B61' 'B69' 'B71' 'B73' 'B77'
 'B78' 'B79' 'B80' 'B82 B84' 'B86' 'B94' 'B96 B98' 'C101' 'C103' 'C104'
 'C105' 'C106' 'C110' 'C111' 'C116' 'C118' 'C123' 'C124' 'C125' 'C126'
 'C128' 'C130' 'C132' 'C148' 'C2' 'C22 C26' 'C23 C25 C27' 'C28' 'C30'
 'C31' 'C32' 'C39' 'C45' 'C46' 'C47' 'C49' 'C50' 'C51' 'C52' 'C53' 'C54'
 'C55 C57' 'C6' 'C62 C64' 'C65' 'C68' 'C7' 'C70' 'C78' 'C80' 'C82' 'C83'
 'C85' 'C86' 'C87' 'C89' 'C90' 'C91' 'C92' 'C93' 'C95' 'C97' 'C99' 'D'
 'D10 D12' 'D11' 'D15' 'D17' 'D19' 'D20' 'D21' 'D22' 'D26' 'D28' 'D30'
 'D33' 'D34' 'D35' 'D36' 'D37' 'D38' 'D40' 'D43' 'D45' 'D46' 'D47' 'D48'
 'D49' 'D50' 'D56' 'D6' 'D7' 'D9' 'E10' 'E101' 'E12' 'E121' 'E17' 'E24'
 'E25' 'E31' 'E33' 'E34' 'E36' 'E38' 'E39 E41' 'E40' 'E44' 'E45' 'E46'
 'E49' 'E50' 'E52' 'E58' 'E60' 'E63' 'E67' 'E68' 'E77' 'E8' 'F' 'F E46'
 'F E57' 'F E69' 'F G63' 'F G73' 'F2' 'F33' 'F38' 'F4' 'G6' 'T' nan]
Embarked = ['C' 'Q' 'S' nan]

In [16]:
data.isnull().sum()

Survived       0
Pclass         0
Sex            0
Age          263
SibSp          0
Parch          0
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [17]:
data.drop(['Cabin'], axis = 1, inplace = True)

In [18]:
data

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
..        ...     ...     ...   ...    ...    ...       ...      ...
413         0       3    male   NaN      0      0    8.0500        S
414         0       1  female  39.0      0      0  108.9000        C
415         0       3    male  38.5      0      0    7.2500        S
416         0       3    male   NaN      0      0    8.0500        S
417         0       3    male   NaN      1      1   22.3583        C

[1309 rows x 8 columns]

In [19]:
# categorical

In [20]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
data['Sex'] = label.fit_transform(data['Sex'])

In [21]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    1  22.0      1      0    7.2500        S
1           1       1    0  38.0      1      0   71.2833        C
2           1       3    0  26.0      0      0    7.9250        S
3           1       1    0  35.0      1      0   53.1000        S
4           0       3    1  35.0      0      0    8.0500        S
..        ...     ...  ...   ...    ...    ...       ...      ...
413         0       3    1   NaN      0      0    8.0500        S
414         0       1    0  39.0      0      0  108.9000        C
415         0       3    1  38.5      0      0    7.2500        S
416         0       3    1   NaN      0      0    8.0500        S
417         0       3    1   NaN      1      1   22.3583        C

[1309 rows x 8 columns]

In [22]:
pd.get_dummies(data['Embarked'], drop_first = True)

     Q  S
0    0  1
1    0  0
2    0  1
3    0  1
4    0  1
..  .. ..
413  0  1
414  0  0
415  0  1
416  0  1
417  0  0

[1309 rows x 2 columns]

In [23]:
data[['Q','S']] = pd.get_dummies(data['Embarked'], drop_first = True)

In [24]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked  Q  S
0           0       3    1  22.0      1      0    7.2500        S  0  1
1           1       1    0  38.0      1      0   71.2833        C  0  0
2           1       3    0  26.0      0      0    7.9250        S  0  1
3           1       1    0  35.0      1      0   53.1000        S  0  1
4           0       3    1  35.0      0      0    8.0500        S  0  1
..        ...     ...  ...   ...    ...    ...       ...      ... .. ..
413         0       3    1   NaN      0      0    8.0500        S  0  1
414         0       1    0  39.0      0      0  108.9000        C  0  0
415         0       3    1  38.5      0      0    7.2500        S  0  1
416         0       3    1   NaN      0      0    8.0500        S  0  1
417         0       3    1   NaN      1      1   22.3583        C  0  0

[1309 rows x 10 columns]

In [25]:
data.drop(['Embarked'], axis = 1, inplace = True)

In [26]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Q  S
0           0       3    1  22.0      1      0    7.2500  0  1
1           1       1    0  38.0      1      0   71.2833  0  0
2           1       3    0  26.0      0      0    7.9250  0  1
3           1       1    0  35.0      1      0   53.1000  0  1
4           0       3    1  35.0      0      0    8.0500  0  1
..        ...     ...  ...   ...    ...    ...       ... .. ..
413         0       3    1   NaN      0      0    8.0500  0  1
414         0       1    0  39.0      0      0  108.9000  0  0
415         0       3    1  38.5      0      0    7.2500  0  1
416         0       3    1   NaN      0      0    8.0500  0  1
417         0       3    1   NaN      1      1   22.3583  0  0

[1309 rows x 9 columns]

In [27]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         263
SibSp         0
Parch         0
Fare          1
Q             0
S             0
dtype: int64

In [28]:
# Numerical

In [29]:
data.Age = data.Age.fillna(data["Age"].median())

In [30]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Q           0
S           0
dtype: int64

In [31]:
data.Fare = data.Fare.fillna(data["Fare"].median())

In [32]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Q           0
S           0
dtype: int64

In [33]:
data['Age'].unique()

array([22.  , 38.  , 26.  , 35.  , 28.  , 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  ,  8.  ,
       19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  , 49.  ,
       29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  , 16.  ,
       25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  , 71.  ,
       37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 , 51.  ,
       55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  , 45.5 ,
       20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  , 60.  ,
       10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  , 70.  ,
       24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  , 22.5 , 18.5 ,
       67.  , 76.  , 26.5 , 60.5 , 11.5 ,  0.33,  0.17, 38.5 ])

In [39]:

sns.heatmap(data.corr())

TypeError: 'tuple' object is not callable

In [35]:
# Separation

In [36]:
X_train = data.iloc[:891, :]

In [37]:
X_train

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Q  S
0           0       3    1  22.0      1      0   7.2500  0  1
1           1       1    0  38.0      1      0  71.2833  0  0
2           1       3    0  26.0      0      0   7.9250  0  1
3           1       1    0  35.0      1      0  53.1000  0  1
4           0       3    1  35.0      0      0   8.0500  0  1
..        ...     ...  ...   ...    ...    ...      ... .. ..
886         0       2    1  27.0      0      0  13.0000  0  1
887         1       1    0  19.0      0      0  30.0000  0  1
888         0       3    0  28.0      1      2  23.4500  0  1
889         1       1    1  26.0      0      0  30.0000  0  0
890         0       3    1  32.0      0      0   7.7500  1  0

[891 rows x 9 columns]

In [38]:
X_test = data.iloc[891:, :]

In [39]:
X_test

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Q  S
0           0       3    1  34.5      0      0    7.8292  1  0
1           0       3    0  47.0      1      0    7.0000  0  1
2           0       2    1  62.0      0      0    9.6875  1  0
3           0       3    1  27.0      0      0    8.6625  0  1
4           0       3    0  22.0      1      1   12.2875  0  1
..        ...     ...  ...   ...    ...    ...       ... .. ..
413         0       3    1  28.0      0      0    8.0500  0  1
414         0       1    0  39.0      0      0  108.9000  0  0
415         0       3    1  38.5      0      0    7.2500  0  1
416         0       3    1  28.0      0      0    8.0500  0  1
417         0       3    1  28.0      1      1   22.3583  0  0

[418 rows x 9 columns]

In [40]:
X_testt = X_test.drop(['Survived'], axis = 1)

In [41]:
X_testt = X_testt.values

In [42]:
y_train = X_train[['Survived']]

In [43]:
X_train = X_train.drop(['Survived'], axis = 1)

In [44]:
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [45]:
X = X_train.values

y = y_train.values

In [46]:
X

array([[ 3.    ,  1.    , 22.    , ...,  7.25  ,  0.    ,  1.    ],
       [ 1.    ,  0.    , 38.    , ..., 71.2833,  0.    ,  0.    ],
       [ 3.    ,  0.    , 26.    , ...,  7.925 ,  0.    ,  1.    ],
       ...,
       [ 3.    ,  0.    , 28.    , ..., 23.45  ,  0.    ,  1.    ],
       [ 1.    ,  1.    , 26.    , ..., 30.    ,  0.    ,  0.    ],
       [ 3.    ,  1.    , 32.    , ...,  7.75  ,  1.    ,  0.    ]])

In [47]:
y.shape

(891, 1)

In [48]:
# Modelling

In [49]:
# Splitting data into Train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [50]:
# XGBoost
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)

C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [51]:
y_pred = model.predict(X_test)

In [52]:
# Confusion matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[105,   5],
       [ 23,  46]], dtype=int64)

In [53]:
# Applying K-Fold_Cross_Validation in Kernel_svm

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = model, X = X_train, y = y_train, cv = 10)
print(accuracies.mean(), accuracies.std())

C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.026874267961512655

In [54]:
accuracies.mean()

0.8328834115805946

In [55]:
# Hypertunning

In [56]:
from sklearn.model_selection import GridSearchCV

In [57]:
parameter = {'learning_rate' : [0.05, 0.075, 0.1, 0.2, 0.3, 0.4]}

In [58]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV] learning_rate=0.05 ..............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] .................. learning_rate=0.05, score=0.804, total=   0.5s
[CV] learning_rate=0.05 ..............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s

[CV] .................. learning_rate=0.05, score=0.860, total=   0.3s
[CV] learning_rate=0.05 ..............................................
[CV] .................. learning_rate=0.05, score=0.810, total=   0.2s
[CV] learning_rate=0.05 ..............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.9s remaining:    0.0s

[CV] .................. learning_rate=0.05, score=0.817, total=   0.6s
[CV] learning_rate=0.05 ..............................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.4s remaining:    0.0s

[CV] .................. learning_rate=0.05, score=0.845, total=   0.7s
[CV] learning_rate=0.075 .............................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.1s remaining:    0.0s

[CV] ................. learning_rate=0.075, score=0.811, total=   0.7s
[CV] learning_rate=0.075 .............................................
[CV] ................. learning_rate=0.075, score=0.853, total=   0.2s
[CV] learning_rate=0.075 .............................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    2.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.0s remaining:    0.0s

[CV] ................. learning_rate=0.075, score=0.810, total=   0.4s
[CV] learning_rate=0.075 .............................................
[CV] ................. learning_rate=0.075, score=0.810, total=   0.2s
[CV] learning_rate=0.075 .............................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    3.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    3.6s remaining:    0.0s

[CV] ................. learning_rate=0.075, score=0.838, total=   0.4s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.825, total=   0.1s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.860, total=   0.4s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.803, total=   0.2s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.803, total=   0.2s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.838, total=   0.3s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.811, total=   0.2s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.874, total=   0.3s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.817, total=   0.4s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.803, total=   0.3s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.810, total=   0.2s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.811, total=   0.2s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.867, total=   0.1s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.810, total=   0.1s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.810, total=   0.1s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.817, total=   0.1s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.797, total=   0.1s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.867, total=   0.2s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.803, total=   0.2s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.796, total=   0.2s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.789, total=   0.1s

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:    8.2s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.05, 0.075, 0.1, 0.2, 0.3, 0.4]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [59]:
print(grid.best_score_)

0.8272333300502315

In [60]:
# gamma

In [61]:
parameter = {'gamma' : [0, 0.05, 0.1]}

In [62]:
model = XGBClassifier(learning_rate = 0.05)

In [63]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV] gamma=0 .........................................................
[CV] ............................. gamma=0, score=0.804, total=   0.2s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

[CV] gamma=0 .........................................................
[CV] ............................. gamma=0, score=0.860, total=   0.4s
[CV] gamma=0 .........................................................
[CV] ............................. gamma=0, score=0.810, total=   0.2s
[CV] gamma=0 .........................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.7s remaining:    0.0s

[CV] ............................. gamma=0, score=0.817, total=   0.3s
[CV] gamma=0 .........................................................
[CV] ............................. gamma=0, score=0.845, total=   0.1s
[CV] gamma=0.05 ......................................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.1s remaining:    0.0s

[CV] .......................... gamma=0.05, score=0.804, total=   0.4s
[CV] gamma=0.05 ......................................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.5s remaining:    0.0s

[CV] .......................... gamma=0.05, score=0.860, total=   0.2s
[CV] gamma=0.05 ......................................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    1.7s remaining:    0.0s

[CV] .......................... gamma=0.05, score=0.810, total=   0.4s
[CV] gamma=0.05 ......................................................
[CV] .......................... gamma=0.05, score=0.817, total=   0.2s
[CV] gamma=0.05 ......................................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    2.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    2.3s remaining:    0.0s

[CV] .......................... gamma=0.05, score=0.845, total=   0.8s
[CV] gamma=0.1 .......................................................
[CV] ........................... gamma=0.1, score=0.804, total=   0.5s
[CV] gamma=0.1 .......................................................
[CV] ........................... gamma=0.1, score=0.860, total=   0.2s
[CV] gamma=0.1 .......................................................
[CV] ........................... gamma=0.1, score=0.810, total=   0.5s
[CV] gamma=0.1 .......................................................
[CV] ........................... gamma=0.1, score=0.810, total=   0.2s
[CV] gamma=0.1 .......................................................
[CV] ........................... gamma=0.1, score=0.838, total=   0.4s

[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:    4.9s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.05, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'gamma': [0, 0.05, 0.1]}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=10)

In [64]:
grid.best_params_

{'gamma': 0}

In [65]:
grid.best_score_

0.8272333300502315

In [66]:
# max_depth

In [67]:
parameter = {'max_depth' : [2, 3, 4, 5, 6]}

In [68]:
model = XGBClassifier(learning_rate = 0.05, gamma = 0)

In [69]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] max_depth=2 .....................................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] ......................... max_depth=2, score=0.790, total=   0.2s
[CV] max_depth=2 .....................................................
[CV] ......................... max_depth=2, score=0.860, total=   0.2s
[CV] max_depth=2 .....................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s

[CV] ......................... max_depth=2, score=0.810, total=   0.4s
[CV] max_depth=2 .....................................................
[CV] ......................... max_depth=2, score=0.810, total=   0.2s

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.9s remaining:    0.0s

[CV] max_depth=2 .....................................................
[CV] ......................... max_depth=2, score=0.838, total=   0.3s
[CV] max_depth=3 .....................................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.2s remaining:    0.0s

[CV] ......................... max_depth=3, score=0.804, total=   0.3s
[CV] max_depth=3 .....................................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.5s remaining:    0.0s

[CV] ......................... max_depth=3, score=0.860, total=   1.3s
[CV] max_depth=3 .....................................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    2.8s remaining:    0.0s

[CV] ......................... max_depth=3, score=0.810, total=   1.3s
[CV] max_depth=3 .....................................................
[CV] ......................... max_depth=3, score=0.817, total=   0.1s
[CV] max_depth=3 .....................................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    4.2s remaining:    0.0s

[CV] ......................... max_depth=3, score=0.845, total=   0.3s
[CV] max_depth=4 .....................................................
[CV] ......................... max_depth=4, score=0.797, total=   0.2s
[CV] max_depth=4 .....................................................
[CV] ......................... max_depth=4, score=0.860, total=   0.6s
[CV] max_depth=4 .....................................................
[CV] ......................... max_depth=4, score=0.831, total=   0.2s
[CV] max_depth=4 .....................................................
[CV] ......................... max_depth=4, score=0.803, total=   0.5s
[CV] max_depth=4 .....................................................
[CV] ......................... max_depth=4, score=0.859, total=   0.2s
[CV] max_depth=5 .....................................................
[CV] ......................... max_depth=5, score=0.790, total=   0.3s
[CV] max_depth=5 .....................................................
[CV] ......................... max_depth=5, score=0.853, total=   0.3s
[CV] max_depth=5 .....................................................
[CV] ......................... max_depth=5, score=0.824, total=   0.2s
[CV] max_depth=5 .....................................................
[CV] ......................... max_depth=5, score=0.796, total=   0.3s
[CV] max_depth=5 .....................................................
[CV] ......................... max_depth=5, score=0.852, total=   0.3s
[CV] max_depth=6 .....................................................
[CV] ......................... max_depth=6, score=0.811, total=   0.5s
[CV] max_depth=6 .....................................................
[CV] ......................... max_depth=6, score=0.853, total=   0.2s
[CV] max_depth=6 .....................................................
[CV] ......................... max_depth=6, score=0.845, total=   0.3s
[CV] max_depth=6 .....................................................
[CV] ......................... max_depth=6, score=0.782, total=   0.3s
[CV] max_depth=6 .....................................................
[CV] ......................... max_depth=6, score=0.852, total=   0.4s

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:    9.4s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.05, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [2, 3, 4, 5, 6]}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=10)

In [70]:
grid.best_params_

{'max_depth': 4}

In [71]:
grid.best_score_

0.8300600807643062

In [72]:
# n_estimators

In [73]:
parameter = {'n_estimators' : [50,75,100,125,150]}

In [74]:
model = XGBClassifier(learning_rate = 0.05, gamma = 0, max_depth = 4)

In [75]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] n_estimators=50 .................................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] ..................... n_estimators=50, score=0.811, total=   0.6s
[CV] n_estimators=50 .................................................
[CV] ..................... n_estimators=50, score=0.846, total=   0.1s
[CV] n_estimators=50 .................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.6s remaining:    0.0s

[CV] ..................... n_estimators=50, score=0.817, total=   0.1s
[CV] n_estimators=50 .................................................
[CV] ..................... n_estimators=50, score=0.796, total=   0.1s
[CV] n_estimators=50 .................................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.9s remaining:    0.0s

[CV] ..................... n_estimators=50, score=0.831, total=   0.6s
[CV] n_estimators=75 .................................................
[CV] ..................... n_estimators=75, score=0.797, total=   0.1s
[CV] n_estimators=75 .................................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.6s remaining:    0.0s

[CV] ..................... n_estimators=75, score=0.853, total=   0.1s
[CV] n_estimators=75 .................................................
[CV] ..................... n_estimators=75, score=0.824, total=   0.2s
[CV] n_estimators=75 .................................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    1.9s remaining:    0.0s

[CV] ..................... n_estimators=75, score=0.796, total=   0.2s
[CV] n_estimators=75 .................................................
[CV] ..................... n_estimators=75, score=0.845, total=   0.2s
[CV] n_estimators=100 ................................................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    2.1s remaining:    0.0s

[CV] .................... n_estimators=100, score=0.797, total=   0.2s
[CV] n_estimators=100 ................................................
[CV] .................... n_estimators=100, score=0.860, total=   0.2s
[CV] n_estimators=100 ................................................
[CV] .................... n_estimators=100, score=0.831, total=   0.3s
[CV] n_estimators=100 ................................................
[CV] .................... n_estimators=100, score=0.803, total=   0.3s
[CV] n_estimators=100 ................................................
[CV] .................... n_estimators=100, score=0.859, total=   0.2s
[CV] n_estimators=125 ................................................
[CV] .................... n_estimators=125, score=0.797, total=   0.3s
[CV] n_estimators=125 ................................................
[CV] .................... n_estimators=125, score=0.846, total=   0.2s
[CV] n_estimators=125 ................................................
[CV] .................... n_estimators=125, score=0.824, total=   0.4s
[CV] n_estimators=125 ................................................
[CV] .................... n_estimators=125, score=0.796, total=   0.2s
[CV] n_estimators=125 ................................................
[CV] .................... n_estimators=125, score=0.845, total=   0.3s
[CV] n_estimators=150 ................................................
[CV] .................... n_estimators=150, score=0.811, total=   0.3s
[CV] n_estimators=150 ................................................
[CV] .................... n_estimators=150, score=0.853, total=   0.5s
[CV] n_estimators=150 ................................................
[CV] .................... n_estimators=150, score=0.817, total=   0.5s
[CV] n_estimators=150 ................................................
[CV] .................... n_estimators=150, score=0.796, total=   0.4s
[CV] n_estimators=150 ................................................
[CV] .................... n_estimators=150, score=0.852, total=   0.4s

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:    6.9s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.05, max_delta_step=0,
                                     max_depth=4, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'n_estimators': [50, 75, 100, 125, 150]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [76]:
grid.best_params_

{'n_estimators': 100}

In [77]:
grid.best_score_

0.8300600807643062

In [78]:
# min_child_weight

In [79]:
parameter = {'min_child_weight' : [1, 2, 3, 4, 5]}

In [80]:
model = XGBClassifier(learning_rate = 0.05, gamma = 0, max_depth = 4, n_estimators = 100, random_state = 42)

In [81]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] .................. min_child_weight=1, score=0.797, total=   1.5s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.860, total=   1.5s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.9s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.831, total=   0.2s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    3.1s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.803, total=   0.4s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    3.6s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.859, total=   0.2s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.8s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.797, total=   0.7s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    4.4s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.846, total=   0.3s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    4.7s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.824, total=   0.6s
[CV] min_child_weight=2 ..............................................
[CV] .................. min_child_weight=2, score=0.796, total=   0.2s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    5.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    5.4s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.852, total=   0.3s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.811, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.867, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.831, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.803, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.852, total=   0.2s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.811, total=   0.2s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.881, total=   0.5s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.817, total=   0.5s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.796, total=   0.2s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.824, total=   0.4s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.818, total=   0.6s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.874, total=   0.1s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.817, total=   0.3s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.803, total=   0.4s
[CV] min_child_weight=5 ..............................................

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:   10.1s finished

[CV] .................. min_child_weight=5, score=0.831, total=   0.2s

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.05, max_delta_step=0,
                                     max_depth=4, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=42, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_child_weight': [1, 2, 3, 4, 5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [82]:
grid.best_params_

{'min_child_weight': 3}

In [83]:
grid.best_score_

0.832847434255885

In [84]:
# final model

In [85]:
model = XGBClassifier(learning_rate = 0.05, gamma = 0, max_depth = 4, n_estimators = 100,min_child_weight= 3, random_state = 42)

In [86]:
grid = GridSearchCV(estimator= model, param_grid= parameter, verbose = 10)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ram Mandal\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV] .................. min_child_weight=1, score=0.797, total=   0.4s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.860, total=   0.5s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.7s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.831, total=   0.5s
[CV] min_child_weight=1 ..............................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.2s remaining:    0.0s

[CV] .................. min_child_weight=1, score=0.803, total=   0.9s
[CV] min_child_weight=1 ..............................................
[CV] .................. min_child_weight=1, score=0.859, total=   0.1s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    2.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.3s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.797, total=   0.2s
[CV] min_child_weight=2 ..............................................
[CV] .................. min_child_weight=2, score=0.846, total=   0.2s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    2.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    2.7s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.824, total=   0.7s
[CV] min_child_weight=2 ..............................................
[CV] .................. min_child_weight=2, score=0.796, total=   0.2s
[CV] min_child_weight=2 ..............................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    3.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    3.5s remaining:    0.0s

[CV] .................. min_child_weight=2, score=0.852, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.811, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.867, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.831, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.803, total=   0.2s
[CV] min_child_weight=3 ..............................................
[CV] .................. min_child_weight=3, score=0.852, total=   1.0s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.811, total=   0.3s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.881, total=   0.3s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.817, total=   0.5s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.796, total=   1.7s
[CV] min_child_weight=4 ..............................................
[CV] .................. min_child_weight=4, score=0.824, total=   0.5s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.818, total=   0.9s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.874, total=   0.2s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.817, total=   0.2s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.803, total=   0.2s
[CV] min_child_weight=5 ..............................................
[CV] .................. min_child_weight=5, score=0.831, total=   0.2s

[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:   10.3s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.05, max_delta_step=0,
                                     max_depth=4, min_child_weight=3,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=42, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_child_weight': [1, 2, 3, 4, 5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=10)

In [87]:
grid.best_score_

0.832847434255885

In [88]:
import pickle
filename = 'titanic_model.pkl'
pickle.dump(grid, open(filename, 'wb'))

In [89]:
model_x = pickle.load(open('titanic_model.pkl', 'rb'))

In [90]:
X_test

array([[  3.    ,   1.    ,  28.    , ...,  14.4583,   0.    ,   0.    ],
       [  3.    ,   1.    ,  28.    , ...,   7.55  ,   0.    ,   1.    ],
       [  3.    ,   1.    ,   7.    , ...,  29.125 ,   1.    ,   0.    ],
       ...,
       [  1.    ,   0.    ,  31.    , ..., 113.275 ,   0.    ,   0.    ],
       [  3.    ,   1.    ,  23.    , ...,   7.8542,   0.    ,   1.    ],
       [  3.    ,   1.    ,  19.    , ...,   8.05  ,   0.    ,   1.    ]])

In [95]:
y_pred = model_x.predict(X_testt)

In [96]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [93]:
data.to_csv('data_titanic.csv', index = False)

In [97]:
# Creating file for submission

pred = pd.DataFrame(y_pred)
sub_df = pd.read_csv(r'E:\MachineLearning\kaggle\titanic_2020\gender_submission.csv')
dataset = pd.concat([sub_df['PassengerId'], pred], axis = 1)
dataset.columns = ['PassengerId', 'Survived']
dataset.to_csv('titanic_xgboost.csv', index = False)